$color-primary: #000080;
$color-secondary: #008000;
$color-tertiary: #800000;
$white: #F0F0F0;

@mixin button {
  text-decoration: none;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
  background: navy;
  color: white;
  padding: 20px 150px;
}

.links-left {
  text-align: left;
}

.links-right {
  text-align: right;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user {
  flex-basis: 22%;
  margin: 5px;
  flex-grow: 1;
  border: 1px solid black;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: black;
}

.user:hover {
  background: #eeeeee;
}

.user h2, .user p {
  text-align: left;
}

.user img, .single-image {
  width: 150px;
  height: 150px;
}

.unemployed {
  color: red;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 100px auto;
}

.left {
  flex-basis: 30%;
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}

.right {
  flex-basis: 60%;
  text-align: left;
  padding-left: 10px;
}

.single-name {
  font-size: 2.5em;
  font-weight: 400;
  margin: 5px 0;
}

.single-image {
  border-radius: 50%;
  border: 1px solid black;
}

.basic-info .contact-info {
  margin: 0;
}

.titles, .details {
  margin-top: 20px;
}

.profile h4, .profile p, .details p {
  margin: 3px 0 5px;
}

.skills {
  padding-left: 0;
  margin-top: 0;
}

.skills li {
  list-style: none;
  margin: 3px 0 0;
}

#edit-profile-button {
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  a {
    text-decoration: none;
    color: $color-primary;
  }
}

#edit-profile-button:hover {
  background-color: $color-primary;
  a {
    color: white;
  }
}

#submit-button {
  text-decoration: none;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

#submit-button:hover {
  background-color: $color-secondary;
  color: white;
}

#profile-form {
  display: inline;
}

#delete-button {
  text-decoration: none;
  color: $color-tertiary;
  border: 1px solid $color-tertiary;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

#delete-button:hover {
  background-color: $color-tertiary;
  color: white;
}

form {
  width: 70%;
  margin: 20px auto;
}

form input {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  font-size: 20px;
  padding: 4px;
}

.write-message {
  margin: 50px auto;
  textarea {
    resize: none;
    margin-bottom: 20px;
  }
}

#inbox-alert-dot {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 139px;
}

.all-messages {
  margin: 30px 0;
}

.single-message {
  border: 1px solid black;
  width: 80%;
  max-width: 500px;
  margin: 5px auto;
  font-size: 18px;
  .message-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: lightgray;
    padding: 5px 30px;
    span {
      flex-basis: 30%;
      &.from {
        text-align: left;
      }
      &.date {
        text-align: center;
      }
      &.reply {
        text-align: right;
      }
    }
  }
  .message-text {
    padding: 10px 30px;
  }
}
