<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="links">
      <div class="links-left">
        <a href="/directory">All</a>
        <a href="/unemployed">Unemployed</a>
        <a href="/employed">Employed</a>
      </div>
      <div class="links-right">
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
      </div>
    </div>

    <h1>Update Profile</h1>
    <h2>Username: {{ username }}</h2>
    <form action="/editprofile" method="POST">
      <label>Full Name:</label><br />
      <input type="text" name="name" placeholder="name" value="{{ name }}" />
      <label>Avatar URL:</label><br />
      <input type="text" name="avatarURL" placeholder="avatar url" value="{{ avatar }}" />
      <label>Email:</label><br />
      <input type="email" name="email" placeholder="email" value="{{ email }}" />
      <label>University:</label><br />
      <input type="text" name="university" placeholder="university" value="{{ university }}" />
      <label>Occupation:</label><br />
      <input type="text" name="job" placeholder="job" value="{{ job }}" />
      <label>Company:</label><br />
      <input type="text" name="company" placeholder="company" value="{{ company }}" />
      <label>Skills: (separate by semicolons)</label><br />
      <input type="text" name="skills" placeholder="skills" value="{{ skills }}" />
      <label>Phone:</label><br />
      <input type="tel" name="phone" placeholder="phone" value="{{ phone }}" />
      <label>Street Number:</label><br />
      <input type="text" name="street_num" placeholder="street number" value="{{ address.street_num }}" />
      <label>Street Name:</label><br />
      <input type="text" name="street_name" placeholder="street name" value="{{ address.street_name }}" />
      <label>City:</label><br />
      <input type="text" name="city" placeholder="city" value="{{ address.city }}" />
      <label>State or Province:</label><br />
      <input type="text" name="state_or_province" placeholder="state or province" value="{{ address.state_or_province }}" />
      <label>Country:</label><br />
      <input type="country" name="country" placeholder="country" value="{{ address.country }}" />
      <button id="submit-button" type="submit">Update</button>
    </form>
  </body>
</html>
