<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="links">
      <div class="links-left">
        <a href="/directory">All</a>
        <a href="/unemployed">Unemployed</a>
        <a href="/employed">Employed</a>
      </div>
      <div class="links-right">
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a id="inbox-icon" href="/inbox"><i class="fa fa-inbox" aria-hidden="true"></i>
          {{ #userMessages }}
            {{ ^read }}
              <img id="inbox-alert-dot" src="/assets/images/red-dot.png" />
            {{ /read }}
          {{ /userMessages }}</a>
      </div>
    </div>
    <div class="container">
      {{ #users }}
      <a href="/{{ user_id }}" class="user">
        <img src="{{ avatar }}" alt="">
        <h2>{{ name }}</h2>
        {{ #job }}
          <p>{{ job }}, {{ company }}</p>
        {{ /job }}
        {{ ^job }}
          <p class="unemployed">Available for hire</p>
        {{ /job }}
      </a>
      {{ /users }}
    </div>
    <script type="text/javascript" src="/script.js">

    </script>
  </body>
</html>
